.import-dialog{height:350px!important}.import-dialog .dowload{cursor:pointer;display:flex;align-items:center;width:100px}.import-dialog .dowload .dowload-icon{font-size:22px;color:#409eff}.import-dialog .dowload .dowload-text{margin-left:5px;font-size:14px}