.bom-list-log .c-timeline-text{color:#333;line-height:24px;white-space:pre-line;word-break:break-all}.bom-list-log .c-timeline-name{color:#999;margin-top:20px}.task{height:90%}.task .set-name{height:200px}.ware-house-add .tabs{height:100%;margin-top:10px}