.date-box{width:485px;height:67px;position:absolute;right:37px;top:101px;color:#2ffbfe;font-size:24px;padding:28px;display:flex;flex-direction:column;align-items:center}.date-box .time{margin-top:10px;display:flex}.date-box .time .week{margin-right:20px}