.dp-task-upload{height:400px}.dp-task-upload-view .el-upload{display:none}.dp-task-upload-list{display:inline-block;width:100%;height:100%;text-align:center;line-height:146px}.dp-task-upload-file{position:relative}.dp-task-upload-action{position:absolute;bottom:0;right:10px}