.screen{width:1920px;height:1080px;background-image:url(../img/screen-bg.80010a9d.png);background-repeat:no-repeat;background-position:50%;background-size:contain}.screen .screen-main{transition:all .3s}