.android-dialog-dialog{height:460px}.android-dialog-dialog .code{margin:20px auto;width:300px;height:300px;background:#d8d8d8}.android-dialog-dialog .text{color:#00bfd0;margin:20px auto 0;font-size:20px;text-align:center}