.dp-upload-view .el-upload{display:none}.dp-upload-list{display:inline-block;width:100%;height:100%;text-align:center;line-height:146px}.dp-upload-file{position:relative}.dp-upload-action{position:absolute;bottom:0;right:10px}