.wot-process-leaf-handle{height:100%;background-color:#fff;padding-bottom:16px}.wot-process-leaf-handle .el-radio{display:block;margin-bottom:16px}.wot-process-picture{height:500px}.wot-process-picture .el-image{width:100%;height:100%}.wot-process-leaf{height:100%}