.custom-dialog{height:400px}.c-eqpt-type-add .custom-box{background:transparent;box-shadow:none;margin-top:10px;padding:10px 0;color:#333}.c-eqpt-type-add .custom-box .c-col .custom-text{font-size:16px}