.dp-log{height:100%}.dp-log .c-row-view-header{margin-bottom:0}.dp-log .c-roll{height:calc(100% - 40px)}.dp-log-text{color:#333;line-height:24px;white-space:pre-line;word-break:break-all}.dp-log-operator{color:#999;margin-top:20px}