.c-mfr-view-head{background-color:#fff;border-radius:4px;padding:18px;box-sizing:border-box;margin-bottom:10px}.c-mfr-view-head .el-form-item{margin-bottom:0}.c-mfr-view-head .el-form-item__error{padding:1px 0 0 0}.c-mfr-view-head .el-input{width:220px}