@font-face {
  font-family: 'pfh';
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  src: url('pfh-z-j.ttf') format('truetype');
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}
